<div class="p-2  bg-slate-600 text-gray-50">
    <nav class="flex justify-between">
        <a class="text-3xl m-5">V-Restaurant </a>
        <div class="flex justify-around">
            <a routerLink="/home"  class="m-5 p-2 rounded border-2 hover:bg-orange-400">Home</a>
            <a class="m-5 p-2 rounded border-2 hover:bg-orange-400">All Restaurant</a>
            <a routerLink="/onboarding/details-form" class="m-5 p-2 rounded border-2 hover:bg-orange-400">Add Restaurant</a>
        </div>
    </nav>
</div>
