<div
  class="fixed z-50 inset-0 flex items-center justify-center overflow-hidden"
>
  <div class="fixed inset-0 transition-opacity">
    <div class="absolute inset-0 bg-gray-500 opacity-75"></div>
  </div>

  <div
    class="bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:max-w-lg sm:w-full"
  >
    <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
      <h3 class="text-lg leading-6 font-medium text-gray-900">
        Information of Restaurant
      </h3>
      <div class="mt-2">
        <ul class="list-disc list-inside">
          <li>
            <span class="text-green-900 pr-2">Name of Restaurant: </span
            >{{ restaurantDetails.name }}
          </li>
          <li>
            <span class="text-green-900 pr-2">Owner of Restaurant: </span
            >{{ restaurantDetails.owner }}
          </li>
          <li>
            <span class="text-green-900 pr-2">Street of Restaurant: </span
            >{{ restaurantDetails.streetName }}
          </li>
          <li>
            <span class="text-green-900 pr-2">City of Restaurant:</span>
            {{ restaurantDetails.city }}
          </li>
          contactDetails:
          <li>
            <span class="text-green-900 pr-2">Phone No. : </span
            >{{ restaurantDetails.contact }}
          </li>
          <!-- <li>
            <span class="text-green-900 pr-2">Email Id : </span
            >{{ restaurantDetails.email }}
          </li> -->
        </ul>
      </div>
    </div>
    <div class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
      <button
        type="button"
        class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-blue-600 text-base font-medium text-white hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 sm:ml-3 sm:w-auto sm:text-sm"
        (click)="handleAccept()"
      >
        Ok
      </button>
    </div>
  </div>
</div>
