.footer {
    flex-shrink: 0;
    
    bottom: 0;
    width: 100%;
    background-color: #f8f9fa; /* Optional: Set a background color */
  }

  .content {
    flex: 1;
    margin-top: 100px; /* Adjust according to the header height */
    overflow-y: auto; /* Optional: Enable scrolling if content overflows */
    
  }