/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind utilities;

html,
body {
  height: 100%;
  margin: 0;
  background-color: rgba(29, 27, 27, 0.165);
}

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
